.espaciobg2{
    height: 4rem;
}

.demo{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.section-bg-color{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

@media (max-width: 900px){
    .demo{
        border-radius: 0 30px 0 0px;
        background-color: var(--gris);
        padding-bottom: 0;
       
    }
    .section-bg-color{
        background-color: var(--color1);
       
    }
    .espaciobg{
        height: 4rem;
        background-color: var(--blanco);
    }
    .espaciobg2{
        height: 10px;
    }
}
