#swiper_container{
   width: 100%;
   height: 70vh;
   border-radius: 20px;
}

.swiperSlideBanner {
    display: flex;
    justify-content: center;
 
}
.swiperSlideBanner img{
    width: 100%;
    object-fit: cover;
  
}

.loadingBanner{
    width: 100%;
   height: 70vh;
   border-radius: 20px;
    background: linear-gradient(90deg, #e8e6e6, #fff, #fff);
    background-size: 400% 400%;
    animation: gradientMove 1s linear infinite;
    -webkit-animation: gradientMove 1s linear infinite;
}
.BannerContain{
    padding: 0% 10%;
    padding-top: 5rem;
    overflow: visible;
   
}
@media (max-width: 1020px){
    #swiper_container{
        height: 50vh;
     }
     .loadingBanner{
       height: 50vh;
     
    }
}
@media (max-width: 900px){
    .BannerContain{
        padding: 0% 3%;
        padding-top: 1rem;
    }
    #swiper_container{
    height: 23vh;
    border-radius: 20px;
    
}
     .loadingBanner{
        height: 20vh;
        
    border-radius: 20px;
    }
}
